
.card-offer {
  border-radius: 5px;
  padding: 24px 20px 20px;
  box-shadow: 1px 1px 10px rgba(#000, 0.1);
  position: relative;
  margin-top: 20px;
  border: 5px solid transparent;
  transition: 0.2s;


  &.opened {
    border-color: $purple;
    .card-offer-summary {
      > i {
        transform: rotate(180deg);
      }
    }
  }
}

.card-offer-summary {
  padding-right: 20px;
  position: relative;

  > i {
    position: absolute;
    font-size: 16px;
    color: $purple;
    right: 0;
    top: 50%;
    margin-top: -4px;
    transition: 0.2s;
  }

  .route-offer {
    width: 55%;

    span {
      display: block;
      color: $dark-grey;
      font-size: 14px;
      position: relative;
      padding-left: 16px;

      i {
        position: absolute;
        left: 0;
        top: 2px;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        border: 1px solid $yellow;
        margin-right: 4px;
      }

      &:first-of-type {
        margin-bottom: 8px;
        &::before {
          content: '';
          position: absolute;
          left: 3px;
          width: 1px;
          height: calc(100% + 12px);
          background-color: $yellow;
          top: 6px;
        }
        i {
          background-color: $yellow;
          position: absolute;
        }
      }

      &:last-of-type {
        i {
          margin-top: 8px;
        }
      }
    }
  }

  .price-offer {
    width: 40%;
    text-align: center;

    span {
      &.current-price {
        display: block;
        color: $purple;
        font-weight: 700;
        font-size: 32px;
        margin-top: 2px;
      }
    }
  }
}

.offer-options {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;

  label {
    display: block;
    width: 100%;
    font-size: 14px;
    color: rgba(#585858, 0.7);
    margin: 16px 0 8px 0;
  }

  .custom-select-box {
    width: 48%;
    height: 32px;


    .icon-document {
      height: 32px;
      line-height: 32px;
      right: 0;
    }

    select {
      height: 32px;
      font-size: 12px;
      width: 100%;
      background-color: #fff;
    }
  }

  .hour-wrapper {
    box-shadow: 0 1px 5px #0000001A;
    width: 48%;
    padding-right: 8px;
    padding-left: 36px;
    border-radius: 4px;
    background-image: url('https://clientes.avallonazevedo.com.br/clickbus/clickbusx/clock.svg');
    background-size: 16px 16px;
    background-position: 10px center;
    background-repeat: no-repeat;
    color: $dark-grey;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin-left: auto;
  }

  a {
    display: block;
    width: 100%;
    height: 40px;
    color: $purple;
    border-radius: 4px;
    background-color: $yellow;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 12px;
  }

  .input-field.custom-select-box {
    select {
      background-image: url('https://clientes.avallonazevedo.com.br/clickbus/clickbusx/calendar.svg');
      background-size: 13px 13px;
      background-position: 10px center;
      background-repeat: no-repeat;
      padding-left: 26px;
    }

    .icon {
      border-left: 0;
    }
  }
}

.card-offer {
  &.opened {
    .offer-options {
      max-height: 600px;
    }
  }
}