/**
 * File to create cards information styles
 */

#cards-information {
  background-color: $purple;
  padding-top: 12px;
  padding-bottom: 48px;
}

.card-information {
  width: 90%;
  max-width: 280px;
  margin: 0 auto;
  color: #fff;
  padding: 40px 25px 25px 35px;
  border: 1px solid #fff;
  background-color: $purple;
  position: relative;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    border: 1px solid #fff;
    background-color: $purple;
    z-index: 1;
  }

  div {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .card-title {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    margin-bottom: 16px;
  }

  .card-description {
    font-size: 12px;
    text-align: center;
  }

  .card-campaign-content {
    a {
      display: inline-block;
      height: 30px;
      margin-top: 12px;
      img {
        height: 30px;
      }
    }
  }

  &:last-of-type {
    margin-top: 40px;
  }
}