/**
 * File to create card styles
 */

.card-offer-route {
  margin: 20px auto 0;
  .wrapper-image {
    height: 180px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    span {
      position: absolute;
      padding: 4px 12px;
      border-radius: 5px;
      color: #fff;
      border: 1px solid #fff;
      z-index: 9;
      top: 50%;
      left: 50%;
      font-size: 12px;
      cursor: pointer;
      opacity: 0;
      transition: .2s;
      transform: translate(-50%,-50%);
    }
  }

  a {
    color: $alpha-black-80;
    &:hover {
      .wrapper-image {
        &::before {
          background-color: rgba(#000, 0.5);
        }

        span {
          opacity: 1;
        }
      }
    }
  }
}

.legend-offer {
  border: 1px solid #f4f4f4;
  padding: 20px;
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 40px 21px -18px rgba(0,0,0,.07);
  .left-offer, .right-offer {
    width: 50%;
  }

  .left-offer {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;
  }

  .right-offer {
    text-align: right;
    font-size: 14px;
    line-height: 1.2;
    span {
      display: block;
      &.old-price {
        text-decoration: line-through;
        color: $grey;
        font-size: 12px;
      }

      &.current-price {
        font-weight: bold;
        color: $dark-grey;
        font-size: 20px;
      }
    }
  }
}