/**
 * File to create highlights styles
 */

.list-highlights {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.h-featured {
  font-weight: bold;
  color: $purple;
  font-size: 20px;
  border-radius: 4px;
  line-height: 1.4;
}

.h-normal {
  margin-top: 12px;
  color: $dark-grey;
  line-height: 1.5;
}