*, *::after, *::before {
  box-sizing: border-box;
}

main {
  display: block;
  width: 100vw;
  overflow: hidden;
}

.banner-campaign {
  display: block;
  width: 100%;
  height: auto;
}

#landing-page-content {
  width: 100%;
  overflow: hidden;
  font-family: $default_font !important;
  .h-padding {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
}

// Intro Campaign

#intro-campaign {
  padding-top: 32px;
  padding-bottom: 32px;
  color: $purple;
  p {
    margin: 0;
    line-height: 1.5;
  }

  img {
    display: block;
    width: 50%;
    margin: 24px auto 0;
  }
}

#participation-form {
  display: flex;
  justify-content: space-between;
  color: $purple;
  h3 {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 52px;
    line-height: 1.5;
  }

  form {
    width: 100%;
  }

  select {
    display: block !important;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input:not([type="checkbox"]), select {
    border-radius: 40px;
    padding: 0 24px;
  }

  textarea {
    border-radius: 44px;
    padding: 24px;
    height: 270px !important;
    resize: none;
  }

  select {
    cursor: pointer;
  }

  input:not([type="checkbox"]), textarea, select {
    height: 52px;
    border: 1px solid $purple !important;
    background-color: transparent;
    margin-bottom: 28px;
    font-size: 1.125rem;
    font-weight: 300;
    outline: none;
    color: $purple;
    box-sizing: border-box !important;
    &:focus {
      border-width: 2px !important;
    }
  }

  .form-group {
    position: relative;
    &.has-danger {
      input, select, textarea {
        border-color: red !important;
      }
    }
    .pristine-error {
      color: red;
      font-size: 0.75rem;
      position: relative;
      top: -20px;
      padding-left: 28px;
    }

    &.has-danger, {
      ::placeholder, select {
        color: red !important;
      }
    }
  }

  button {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 40px;
    display: block;
    border: 0;
    border-radius: 40px;
    font-size: 1.25rem;
    margin: 40px auto 0;
    background: rgb(223,169,243);
    background: -moz-linear-gradient(180deg, rgba(223,169,243,1) 0%, rgba(170,68,214,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(223,169,243,1) 0%, rgba(170,68,214,1) 100%);
    background: linear-gradient(180deg, rgba(223,169,243,1) 0%, rgba(170,68,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dfa9f3",endColorstr="#aa44d6",GradientType=1);
  }

  ::placeholder {
    font-weight: 300;
    color: $purple;
  }
}

.ew-accept {
  .pristine-error {
    display: none !important
  }
  label {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 32px;
    max-width: 240px;
    text-align: center;
    margin: 0 auto;
    color: $purple;
    font-size: 0.75rem;
    &::before {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      border: 1px solid $purple;
      left: 0;
      top: 50%;
      margin-top: -10px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      margin-top: -6px;
      left: 4px;
      background-color: $purple;
      transition: 0.2s;
      transform: scale(0);
    }
  }
  input:checked {
    & + label {
      &::after {
        transform: scale(1);
      }
    }
  }

  &.has-danger {
    label {
      color: red;
      &::before {
        border-color: red;
      }
    }
  }
}

// Map

#ew-message-list {
  background-color: #DFA9FE;
  padding: 52px 0;
  width: 100%;
  overflow: hidden !important;
  margin-top: 60px;
  h3 {
    font-weight: 300;
    font-size: 1.6rem;
    color: $purple;
    line-height: 1.5;
  }
}

.messages-plus-map {
  display: flex;
  justify-content: space-between;
}

.ew-map {
  width: 100%;
  margin-bottom: 32px;
  svg {
    cursor: pointer;
    display: block;
    width: 100%;
    height: auto;
    font-family: $default_font !important;
    .active-location {
      fill: #731aa6 !important;
    }
    text {
      pointer-events: none;
    }
  }
}

.ew-current-messages-list {
  width: auto !important;
  max-width: none !important;
  //white-space: nowrap;
}

.ew-current-messages-list-wrapper {
  padding: 32px 0;
  width: auto !important;
  max-width: none !important;
  //white-space: nowrap;
  background-color: #fff;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  box-shadow: 1px 1px 10px rgba(#000, 0.2);
  margin-left: 32px;
  .message-list-region {
    padding: 0 32px;
    display: block;
    font-weight: bold;
    color: $purple;
    font-size: 1rem;
    margin-bottom: 24px;
    max-width: 360px;
    white-space: normal;
  }


  .ew-fallback-message, .ew-fallback-empty {
    display: block;
    padding: 0 32px;
    max-width: 360px;
    white-space: normal;
  }

  .ew-fallback-empty {
    display: none;
    &.showing {
      display: block;
    }
  }

  ul {
    overflow-x: auto !important;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 32px;
    -webkit-overflow-scrolling: touch;
    li {
      flex: 0 0 auto;
      max-width: 280px;
      border: 1px solid #DFA9FE;
      padding: 28px;
      border-radius: 32px;
      color: $purple;

      strong {
        display: block;
        text-align: center;
      }

      &:not(:last-child) {
        margin-right: 16px;
      }

      &:not(.active-message) {
        display: none;
      }
    }
  }
}

#ew-modal-success-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999999;
  background-color: rgba(#000, 0.4);
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  &.success {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

#ew-modal-success {
  width: 90%;
  max-width: 600px;
  background-color: $purple;
  padding: 32px;
  color: #fff;
  text-align: center;
  line-height: 1.6;
  border-radius: 40px;
  box-shadow: 1px 1px 10px rgba(#000, 0.1);
  position: relative;

  .ew-close {
    display: block;
    position: absolute;
    width: 28px;
    top: 20px;
    right: 24px;
    cursor: pointer;
  }

  > div {
    max-width: 320px;
    margin: 0 auto;
  }
  h4 {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.6;
  }

  img {
    display: inline-block;
    width: 160px;
  }

  .ew-social-list {
    a {
      display: inline-block;
      &:not(:last-of-type) {
        margin-right: 8px;
      }
    }
    img {
      width: auto;
      height: 32px;
    }
  }
}

@media only screen and (max-height: 736px) {
  #ew-modal-success {
    .ew-close {
      width: 20px;
    }
    h4 {
      font-size: 0.9rem
    }
    p {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      font-size: 0.75rem;
    }

    img {
      width: 40%;
    }
  }
}

#about-our-campaign {
  color: $purple;
  p {
    width: 80%;
    line-height: 1.5;
    margin: 24px auto;
  }
}