/**
 * File to create some grid helpers
 */

.d-flex {
  display: flex !important;
}

.flex-row {
  flex-direction: row !important;
  flex-wrap: wrap;
}

.flex-align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}